body{
    color: blue;
    text-align: center;
<<<<<<< HEAD
    font-family: "Helvetica";
    background-color: red;
=======
    font-family: "Courier";
    background-color: papayawhip;
>>>>>>> cabecera
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    height: 700px;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;

}

#container h1{
    font-size:20;
}