body{
    color: blue;
    text-align: center;
    font-family: "Courier";
    background-color: gray;
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    height: 700px;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;

}

#container h1{
    font-size:20;
}

#cabecera{
    display: flexbox;
    flex-direction: column;
}
.imgsimio{
    width: 20px;
    height: 20px;
}